{% extends 'base.html' %}

{% block content %}
<div class="main">
    <div class="container p-4">
        <form action="" method="post">
        {% csrf_token %}
        <div class="row mx-auto">
            <div class="col">
                {{ form.amount }}
            </div>
            <div class="col">
                {{ form.currency_from }}
            </div>
            <div class="col">
                {{ form.currency_to }}
            </div>
        </div>
        <div class="row mt-5 w-50 mx-auto">
            <button type="submit" class="disbtn btn btn-primary">Расчет</button>
        </div>
        {% if result %}
            <div class="row mt-5 w-50 mx-auto">
                <span class="d-inline p-2 bg-light rounded-3 text-center">{{ result }}</span>
            </div>
        {% endif %}
    </form>
    </div>
</div>
{% endblock content %}